<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pathfinding Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
  </head>
  <body>

    <div id="app">
      <a-star inline-template>
        <div>
          <table>
            <tbody>
              <tr v-for="cols in grid">
                <td v-for="node in cols"
                  :class="{ frontier: node.frontier, visited: node.visited, wall: node.wall, route: node.route }"
                  v-html="flagged(node)"
                  v-on:mouseover="mouseover(node)"
                >
                </td>
              </tr>
            </tbody>
          </table>
          <div v-show="!solved">
            <button type="button" name="button" v-on:click="steps(1)">Search x1</button>
            <button type="button" name="button" v-on:click="steps(10)">Search x10</button>
            <button type="button" name="button" v-on:click="steps(100)">Search x100</button>
          </div>
        </div>
      </a-star>
    </div>

    <script type="text/javascript" src="dist/app.js"></script>
  </body>
</html>
